@import url(http://fonts.googleapis.com/css?family=Raleway);
#menu,
#menu ul,
#menu ul li,
#menu ul li a,

#menu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;

}

#menu:after,
#menu ul:after {
	content:".";
	display: block;
	clear:both;
	visibility: hidden;
	line-height: 0;
	height: 0;

}

#menu:menu-button {
	display: none;
}

#menu {
	width: auto;
	font-family: Raleway, sans-serif;
    line-height: 1;

}

#menu ul {
	background: #3db2e1;

}

#menu ul li {
	float: left;
	-webkit-perspective: 1000px;
  	-moz-perspective: 1000px;
  	perspective: 1000px;
	
}

#menu.align-center ul {
	font-style: 0;
	text-align: center;

}

